version: '3.7'
services:
  hop:
    image: apache/hop
    environment:
      HOP_CONFIG_FOLDER: "/opt/projetos/hop_config"
      HOP_OPTIONS: "-Xmx5120m -Dfile.encoding=UTF8"
      HOP_SHARED_JDBC_FOLDER: "/opt/projetos/hop_jdbc"
      HOP_SERVER_USER: "cluster"
      HOP_SERVER_PASSWORD: "cluster"
    volumes:
      - ./home/js/stack_dados/projetos:/opt/projetos
      - ./home/js/stack_dados/projetos/hop_config:/opt/projetos/hop_config
      - ./home/js/stack_dados/projetos/hop_jdbc:/opt/projetos/hop_jdbc
    ports:
      - "8080:8080"

  jenkins:
    image: jenkins/jenkins
    ports:
      - "8081:8080"
    volumes:
      - jenkins-data:/var/jenkins_home
      - ./jenkins.yml:/var/jenkins_home/casc_configs/jenkins.yml
    environment:
      CASC_JENKINS_CONFIG: "/var/jenkins_home/casc_configs/jenkins.yml"

volumes:
  jenkins-data:
